<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{>links}}
</head>
<style>
      .edit{
        font-size: 13px;
        margin-left: 13rem;
    }
</style>
<body>
    {{>navbar}}
    {{#if (isdefined recipe)}}

<div class="menu">
{{#each recipe}}
<a href="/recipe/{{_id}}">
<div class="box">

<img src="/img/{{image}}" alt="{{name}}">
<h4>{{name}}</h4>
 {{#if username}}
<span class="edit"> Recipe by- {{username}}</span>
{{else}}
<span class="edit"> Recipe by- Admin </span>

{{/if}}
</div>
</a>
{{else}}

<h1 style="text-align: center">Sorry , no item found 😟</h1>
{{/each}}
</div>

{{/if}}
    {{>footer}}
      <script src="/js/indexScript.js"></script>

</body>
</html>